.wallpaperImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  
  .labelsignupform {
    color: white;
    font-size: 15px;
    margin-top: 20px; 

  }
  
  .title {
      justify-content: center;
      display: flex;
      color: white;
      margin-top: 0px;
  }
  
  .formsignup {
    padding-left: 40px;
    padding-right: 40px;
    padding-top:40px;
    width: 25vw;
    margin: auto;
    margin-top: 7vh;
    background-image:linear-gradient(rgb(116, 172, 196), rgb(17,56,97));
  }
  
  .submitbutton {
      margin-top: 5vh;
      width: 20vw;
  }

  
.alertText {
    margin: auto;
    background-color: #d1ecf1 ;
    color : #0c5460;
    border-color: #bee5eb;
    height: 50px;
    text-align: center;
    line-height: 50px; /* same as height! */
}
