.wallpaperImage {
  position: absolute;
  width: 100vw;
  background-image: linear-gradient(rgb(116, 172, 196), rgb(17, 56, 97));
}

.labelloginform {
  color: white;
  font-size: 10px;
  margin-top: 5vh;
}

.title {
  justify-content: center;
  display: flex;
  margin-bottom: 5vh;
  color: white;
  font-weight: bold;
  
}

.formlogin {
  padding: 40px;
  width: 25vw;
  margin: auto;
  margin-top: 10vh;
  background-image: linear-gradient(rgb(116, 172, 196), rgb(17, 56, 97));
}

.neddAccount {
  float: right;
  padding-top: 10px;
  color: white;
  font-weight: bold;
}

.submitbutton {
  margin-top: 15vh;
  width: 20vw;
  margin-bottom: 5vh;
}

.alertText {
  margin: auto;
  background-color: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
  height: 50px;
  text-align: center;
  line-height: 50px; /* same as height! */
}
